$color-bg-input: #f1f1f1;
$color-text-input: #222;
$color-placeholder: #bdbdbd;
$color-input-focus: #e5e7eb;
$color-input-hover: #c4c4c4;
$color-btn: #ff1616;
$color-btn-hover: #c30000;
$color-btn-text: #fff;
$color-btn-info: #787878;
$color-text-secondary: #888;
$color-bg: #f9fafb;
$color-border: #ebebeb;

// Breakpoints
$breakpoint-small-mobile: 389px;
$breakpoint-mobile: 415px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 1266px;
