@use '../styles/variables.scss' as *;
@use '../styles/mixins.scss' as *;

.bg {
	min-height: 100vh;
}

.section {
	max-width: 1265px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	@include tablet {
		max-width: 390px;
	}
}

.container {
	max-width: 1265px;
	position: sticky;
	top: 0;
	z-index: 101;
	margin-top: 17.25rem;
	transition: top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	@include tablet {
		max-width: 390px;
	}
}

.container.active {
	top: 0;
}

.hint {
	font-size: 1rem;
	margin-top: 3.5rem;
	color: $color-btn-info;
	font-size: 0.95rem;
	text-align: left;
	@include tablet {
		height: 200px;
	}
}

.searchBarActive {
	position: sticky;
	width: 100%;
	padding: 2.5rem 0 1rem;
	z-index: 100;
	@include tablet {
		width: 358px;
	}
	@include mobile {
		width: calc(100% - 32px);
		display: flex;
		padding: 10px 16px;
	}
	@include small-mobile {
		width: calc(100% - 32px);
	}
}

.searchBarContainerActive {
	padding: 2.5rem 0 1rem;
	background: $color-bg-input;
}

.searchBarContainerInactive {
	padding: 2.5rem 0 1rem;
}
