@import '../styles/variables.scss';
@import '../styles/mixins.scss';

.bg {
	min-height: 100vh;
}

.section {
	max-width: 1265px;
	margin: 0 auto;
	@include desktop {
		max-width: 768px;
	}
	@include tablet {
		max-width: 390px;
	}
}

.container {
	max-width: 1265px;
	margin: 0 auto;
	position: relative;
	top: 17.25rem;
	margin-bottom: 5rem;
	transition: padding-top 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	@include mobile {
		max-width: 365px;
	}
	@include small-mobile {
		max-width: 265px;
	}
}

.hint {
	font-size: 1rem;
	margin-top: 3.5rem;
	color: $color-btn-info;
	font-size: 0.95rem;
	text-align: left;
	@include tablet {
		height: 200px;
	}
}

.searchBarActive {
	position: fixed;
	top: 0;
	margin: 0 auto;
	max-width: 1265px;
	margin-bottom: 0;
	border-radius: 12px;
	padding: 1rem 0;
	animation: moveSearchBar 0.5s cubic-bezier(0.4, 0, 0.2, 1);
	align-items: flex-start;
	z-index: 100;
	@include tablet {
		width: 358px;
	}
	@include mobile {
		width: calc(100% - 32px);
		display: flex;
		left: 0;
		padding: 10px 16px;
	}
	@include small-mobile {
		width: calc(100% - 32px);
	}
}

@keyframes moveSearchBar {
	0% {
		transform: translateY(-100%);
		opacity: 0.7;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}

.section.search-active {
	@include mobile {
		margin: 80px auto;
	}
}
