@use '../../styles/variables.scss' as *;
@use '../../styles/mixins.scss' as *;

.wrapper {
	max-width: 1265px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: none;
	@include desktop {
		max-width: 768px;
	}
	@include tablet {
		max-width: 390px;
	}
	@include mobile {
		max-width: 358px;
		padding-top: 0;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
	align-items: center;
	gap: 0.34rem;
	@include desktop {
		width: 841px;
	}
	@include tablet {
		width: 358px;
		display: grid;
		gap: 0.5rem;
		grid-template-columns: repeat(auto-fit, minmax(114px, 1fr));
	}
	@include mobile {
		width: 358px;
	}
}

.noResults {
	color: $color-text-secondary;
	text-align: left;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: $color-text-secondary;
}

@keyframes fadeInGrid {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}
