@import '../../styles/variables.scss';
@import '../../styles/mixins.scss';

@keyframes fadeInGrid {
	0% {
		opacity: 0;
		transform: translateY(40px);
	}
	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

.wrapper {
	max-width: 1265px;
	margin: 0 auto;
	display: flex;
	flex-direction: column;
	height: 100%;
	transition: none;
	@include desktop {
		max-width: 768px;
	}
	@include tablet {
		max-width: 390px;
	}
	@include mobile {
		max-width: 358px;
		padding: 0 1rem;
		padding-top: 0;
	}
}

.grid {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 0.3rem;
	@include tablet {
		display: grid;
		grid-template-columns: repeat(auto-fit, minmax(114px, 1fr));
	}
	animation: fadeInGrid 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.noResults {
	color: $color-text-secondary;
	text-align: left;
}

.loader {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
	color: $color-text-secondary;
}
